Hospital_ABC/Connected Services/srvMedicoEspecialista/srvMedicoEspecialista2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63539/srvMedicoEspecialista.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recMedicoEspecialista_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recMedicoEspecialista_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recMedicoEspecialista_PAResult" nillable="true" type="q1:ArrayOfPA_MedicoEspecialista_MostrarDetalle_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recMedicoEspecialistaXID_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recMedicoEspecialistaXID_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recMedicoEspecialistaXID_PAResult" nillable="true" type="q2:PA_MedicoEspecialista_MostrarDetallexid_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insMedicoEspecialista_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMedicoEspecialista" nillable="true" type="q3:MedicoEspecialista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insMedicoEspecialista_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insMedicoEspecialista_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modMedicoEspecialista_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMedicoEspecialista" nillable="true" type="q4:MedicoEspecialista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modMedicoEspecialista_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modMedicoEspecialista_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delMedicoEspecialista_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMedicoEspecialista" nillable="true" type="q5:MedicoEspecialista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delMedicoEspecialista_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delMedicoEspecialista_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>