Hospital_ABC/Connected Services/srvMedicoEspecialista/srvMedicoEspecialista.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="srvMedicoEspecialista" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63539/srvMedicoEspecialista.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63539/srvMedicoEspecialista.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63539/srvMedicoEspecialista.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvMedicoEspecialista_recMedicoEspecialista_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:recMedicoEspecialista_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvMedicoEspecialista_recMedicoEspecialista_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:recMedicoEspecialista_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMedicoEspecialista_recMedicoEspecialistaXID_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:recMedicoEspecialistaXID_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvMedicoEspecialista_recMedicoEspecialistaXID_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:recMedicoEspecialistaXID_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMedicoEspecialista_insMedicoEspecialista_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:insMedicoEspecialista_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvMedicoEspecialista_insMedicoEspecialista_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:insMedicoEspecialista_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMedicoEspecialista_modMedicoEspecialista_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:modMedicoEspecialista_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvMedicoEspecialista_modMedicoEspecialista_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:modMedicoEspecialista_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMedicoEspecialista_delMedicoEspecialista_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:delMedicoEspecialista_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvMedicoEspecialista_delMedicoEspecialista_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:delMedicoEspecialista_PAResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvMedicoEspecialista">
    <wsdl:operation name="recMedicoEspecialista_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMedicoEspecialista/recMedicoEspecialista_PA" message="tns:IsrvMedicoEspecialista_recMedicoEspecialista_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMedicoEspecialista/recMedicoEspecialista_PAResponse" message="tns:IsrvMedicoEspecialista_recMedicoEspecialista_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recMedicoEspecialistaXID_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMedicoEspecialista/recMedicoEspecialistaXID_PA" message="tns:IsrvMedicoEspecialista_recMedicoEspecialistaXID_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMedicoEspecialista/recMedicoEspecialistaXID_PAResponse" message="tns:IsrvMedicoEspecialista_recMedicoEspecialistaXID_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insMedicoEspecialista_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMedicoEspecialista/insMedicoEspecialista_PA" message="tns:IsrvMedicoEspecialista_insMedicoEspecialista_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMedicoEspecialista/insMedicoEspecialista_PAResponse" message="tns:IsrvMedicoEspecialista_insMedicoEspecialista_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modMedicoEspecialista_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMedicoEspecialista/modMedicoEspecialista_PA" message="tns:IsrvMedicoEspecialista_modMedicoEspecialista_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMedicoEspecialista/modMedicoEspecialista_PAResponse" message="tns:IsrvMedicoEspecialista_modMedicoEspecialista_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delMedicoEspecialista_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMedicoEspecialista/delMedicoEspecialista_PA" message="tns:IsrvMedicoEspecialista_delMedicoEspecialista_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMedicoEspecialista/delMedicoEspecialista_PAResponse" message="tns:IsrvMedicoEspecialista_delMedicoEspecialista_PA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvMedicoEspecialista" type="tns:IsrvMedicoEspecialista">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recMedicoEspecialista_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvMedicoEspecialista/recMedicoEspecialista_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recMedicoEspecialistaXID_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvMedicoEspecialista/recMedicoEspecialistaXID_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insMedicoEspecialista_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvMedicoEspecialista/insMedicoEspecialista_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modMedicoEspecialista_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvMedicoEspecialista/modMedicoEspecialista_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delMedicoEspecialista_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvMedicoEspecialista/delMedicoEspecialista_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvMedicoEspecialista">
    <wsdl:port name="BasicHttpBinding_IsrvMedicoEspecialista" binding="tns:BasicHttpBinding_IsrvMedicoEspecialista">
      <soap:address location="http://localhost:63539/srvMedicoEspecialista.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>