Hospital_ABC/Connected Services/srvPacientes/srvPacientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="srvPacientes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63539/srvPacientes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63539/srvPacientes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63539/srvPacientes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvPacientes_recPacientes_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:recPacientes_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvPacientes_recPacientes_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:recPacientes_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvPacientes_recPacientesXID_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:recPacientesXID_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvPacientes_recPacientesXID_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:recPacientesXID_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvPacientes_insPacientes_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:insPacientes_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvPacientes_insPacientes_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:insPacientes_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvPacientes_modPacientes_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:modPacientes_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvPacientes_modPacientes_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:modPacientes_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvPacientes_delPacientes_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:delPacientes_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvPacientes_delPacientes_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:delPacientes_PAResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvPacientes">
    <wsdl:operation name="recPacientes_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvPacientes/recPacientes_PA" message="tns:IsrvPacientes_recPacientes_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvPacientes/recPacientes_PAResponse" message="tns:IsrvPacientes_recPacientes_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recPacientesXID_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvPacientes/recPacientesXID_PA" message="tns:IsrvPacientes_recPacientesXID_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvPacientes/recPacientesXID_PAResponse" message="tns:IsrvPacientes_recPacientesXID_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insPacientes_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvPacientes/insPacientes_PA" message="tns:IsrvPacientes_insPacientes_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvPacientes/insPacientes_PAResponse" message="tns:IsrvPacientes_insPacientes_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modPacientes_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvPacientes/modPacientes_PA" message="tns:IsrvPacientes_modPacientes_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvPacientes/modPacientes_PAResponse" message="tns:IsrvPacientes_modPacientes_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delPacientes_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvPacientes/delPacientes_PA" message="tns:IsrvPacientes_delPacientes_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvPacientes/delPacientes_PAResponse" message="tns:IsrvPacientes_delPacientes_PA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvPacientes" type="tns:IsrvPacientes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recPacientes_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvPacientes/recPacientes_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recPacientesXID_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvPacientes/recPacientesXID_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insPacientes_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvPacientes/insPacientes_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modPacientes_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvPacientes/modPacientes_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delPacientes_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvPacientes/delPacientes_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvPacientes">
    <wsdl:port name="BasicHttpBinding_IsrvPacientes" binding="tns:BasicHttpBinding_IsrvPacientes">
      <soap:address location="http://localhost:63539/srvPacientes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>