Hospital_ABC/Connected Services/srvMedicamento/srvMedicamento2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63539/srvMedicamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recMedicamentos_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recMedicamentos_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recMedicamentos_PAResult" nillable="true" type="q1:ArrayOfPA_Medicamentos_MostrarDetalle_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recMedicamentosXID_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recMedicamentosXID_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recMedicamentosXID_PAResult" nillable="true" type="q2:PA_Medicamentos_MostrarDetallexid_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insMedicamentos_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMedicamentos" nillable="true" type="q3:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insMedicamentos_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insMedicamentos_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modMedicamentos_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMedicamentos" nillable="true" type="q4:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modMedicamentos_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modMedicamentos_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delMedicamentos_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMedicamentos" nillable="true" type="q5:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delMedicamentos_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delMedicamentos_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>