Hospital_ABC/Connected Services/srvRegistroCitas/srvRegistroCitas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="srvRegistroCitas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63539/srvRegistroCitas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63539/srvRegistroCitas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63539/srvRegistroCitas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvRegistroCitas_recRegistroCitas_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:recRegistroCitas_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvRegistroCitas_recRegistroCitas_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:recRegistroCitas_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvRegistroCitas_recRegistroCitasXID_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:recRegistroCitasXID_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvRegistroCitas_recRegistroCitasXID_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:recRegistroCitasXID_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvRegistroCitas_insRegistroCitas_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:insRegistroCitas_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvRegistroCitas_insRegistroCitas_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:insRegistroCitas_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvRegistroCitas_modRegistroCitas_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:modRegistroCitas_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvRegistroCitas_modRegistroCitas_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:modRegistroCitas_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvRegistroCitas_delRegistroCitas_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:delRegistroCitas_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvRegistroCitas_delRegistroCitas_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:delRegistroCitas_PAResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvRegistroCitas">
    <wsdl:operation name="recRegistroCitas_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvRegistroCitas/recRegistroCitas_PA" message="tns:IsrvRegistroCitas_recRegistroCitas_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvRegistroCitas/recRegistroCitas_PAResponse" message="tns:IsrvRegistroCitas_recRegistroCitas_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recRegistroCitasXID_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvRegistroCitas/recRegistroCitasXID_PA" message="tns:IsrvRegistroCitas_recRegistroCitasXID_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvRegistroCitas/recRegistroCitasXID_PAResponse" message="tns:IsrvRegistroCitas_recRegistroCitasXID_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insRegistroCitas_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvRegistroCitas/insRegistroCitas_PA" message="tns:IsrvRegistroCitas_insRegistroCitas_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvRegistroCitas/insRegistroCitas_PAResponse" message="tns:IsrvRegistroCitas_insRegistroCitas_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modRegistroCitas_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvRegistroCitas/modRegistroCitas_PA" message="tns:IsrvRegistroCitas_modRegistroCitas_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvRegistroCitas/modRegistroCitas_PAResponse" message="tns:IsrvRegistroCitas_modRegistroCitas_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delRegistroCitas_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvRegistroCitas/delRegistroCitas_PA" message="tns:IsrvRegistroCitas_delRegistroCitas_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvRegistroCitas/delRegistroCitas_PAResponse" message="tns:IsrvRegistroCitas_delRegistroCitas_PA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvRegistroCitas" type="tns:IsrvRegistroCitas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recRegistroCitas_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvRegistroCitas/recRegistroCitas_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recRegistroCitasXID_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvRegistroCitas/recRegistroCitasXID_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insRegistroCitas_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvRegistroCitas/insRegistroCitas_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modRegistroCitas_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvRegistroCitas/modRegistroCitas_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delRegistroCitas_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvRegistroCitas/delRegistroCitas_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvRegistroCitas">
    <wsdl:port name="BasicHttpBinding_IsrvRegistroCitas" binding="tns:BasicHttpBinding_IsrvRegistroCitas">
      <soap:address location="http://localhost:63539/srvRegistroCitas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>