Hospital_ABC/Connected Services/srvRegistroCitas/srvRegistroCitas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63539/srvRegistroCitas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recRegistroCitas_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recRegistroCitas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recRegistroCitas_PAResult" nillable="true" type="q1:ArrayOfPA_RegistroCitas_MostrarDetalle_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recRegistroCitasXID_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recRegistroCitasXID_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recRegistroCitasXID_PAResult" nillable="true" type="q2:PA_RegistroCitas_MostrarDetallexid_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insRegistroCitas_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pRegistroCitas" nillable="true" type="q3:RegistroCitas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insRegistroCitas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insRegistroCitas_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modRegistroCitas_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pRegistroCitas" nillable="true" type="q4:RegistroCitas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modRegistroCitas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modRegistroCitas_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delRegistroCitas_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pRegistroCitas" nillable="true" type="q5:RegistroCitas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delRegistroCitas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delRegistroCitas_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>