Hospital_ABC/Connected Services/srvEspecialidad/srvEspecialidad1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63539/srvEspecialidad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recEspecialidad_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recEspecialidad_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recEspecialidad_PAResult" nillable="true" type="q1:ArrayOfPA_Especialidad_MostrarDetalle_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recEspecialidadXID_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recEspecialidadXID_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recEspecialidadXID_PAResult" nillable="true" type="q2:PA_Especialidad_MostrarDetallexid_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insEspecialidad_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pEspecialidad" nillable="true" type="q3:Especialidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insEspecialidad_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insEspecialidad_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modEspecialidad_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pEspecialidad" nillable="true" type="q4:Especialidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modEspecialidad_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modEspecialidad_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEspecialidad_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pEspecialidad" nillable="true" type="q5:Especialidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEspecialidad_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delEspecialidad_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>