Hospital_ABC/Connected Services/srvEspecialidad/srvEspecialidad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="srvEspecialidad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63539/srvEspecialidad.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63539/srvEspecialidad.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63539/srvEspecialidad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvEspecialidad_recEspecialidad_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:recEspecialidad_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvEspecialidad_recEspecialidad_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:recEspecialidad_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvEspecialidad_recEspecialidadXID_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:recEspecialidadXID_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvEspecialidad_recEspecialidadXID_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:recEspecialidadXID_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvEspecialidad_insEspecialidad_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:insEspecialidad_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvEspecialidad_insEspecialidad_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:insEspecialidad_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvEspecialidad_modEspecialidad_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:modEspecialidad_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvEspecialidad_modEspecialidad_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:modEspecialidad_PAResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvEspecialidad_delEspecialidad_PA_InputMessage">
    <wsdl:part name="parameters" element="tns:delEspecialidad_PA" />
  </wsdl:message>
  <wsdl:message name="IsrvEspecialidad_delEspecialidad_PA_OutputMessage">
    <wsdl:part name="parameters" element="tns:delEspecialidad_PAResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvEspecialidad">
    <wsdl:operation name="recEspecialidad_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvEspecialidad/recEspecialidad_PA" message="tns:IsrvEspecialidad_recEspecialidad_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvEspecialidad/recEspecialidad_PAResponse" message="tns:IsrvEspecialidad_recEspecialidad_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recEspecialidadXID_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvEspecialidad/recEspecialidadXID_PA" message="tns:IsrvEspecialidad_recEspecialidadXID_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvEspecialidad/recEspecialidadXID_PAResponse" message="tns:IsrvEspecialidad_recEspecialidadXID_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insEspecialidad_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvEspecialidad/insEspecialidad_PA" message="tns:IsrvEspecialidad_insEspecialidad_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvEspecialidad/insEspecialidad_PAResponse" message="tns:IsrvEspecialidad_insEspecialidad_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modEspecialidad_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvEspecialidad/modEspecialidad_PA" message="tns:IsrvEspecialidad_modEspecialidad_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvEspecialidad/modEspecialidad_PAResponse" message="tns:IsrvEspecialidad_modEspecialidad_PA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delEspecialidad_PA">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvEspecialidad/delEspecialidad_PA" message="tns:IsrvEspecialidad_delEspecialidad_PA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvEspecialidad/delEspecialidad_PAResponse" message="tns:IsrvEspecialidad_delEspecialidad_PA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvEspecialidad" type="tns:IsrvEspecialidad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recEspecialidad_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvEspecialidad/recEspecialidad_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recEspecialidadXID_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvEspecialidad/recEspecialidadXID_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insEspecialidad_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvEspecialidad/insEspecialidad_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modEspecialidad_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvEspecialidad/modEspecialidad_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delEspecialidad_PA">
      <soap:operation soapAction="http://tempuri.org/IsrvEspecialidad/delEspecialidad_PA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvEspecialidad">
    <wsdl:port name="BasicHttpBinding_IsrvEspecialidad" binding="tns:BasicHttpBinding_IsrvEspecialidad">
      <soap:address location="http://localhost:63539/srvEspecialidad.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>