Hospital_ABC/Connected Services/srvDiagnostico/srvDiagnostico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63539/srvDiagnostico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recDiagnostico_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recDiagnostico_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recDiagnostico_PAResult" nillable="true" type="q1:ArrayOfPA_Diagnostico_MostrarDetalle_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recDiagnosticoXID_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recDiagnosticoXID_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recDiagnosticoXID_PAResult" nillable="true" type="q2:PA_Diagnostico_MostrarDetallexid_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDiagnostico_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pDiagnostico" nillable="true" type="q3:Diagnostico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDiagnostico_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insDiagnostico_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modDiagnostico_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pDiagnostico" nillable="true" type="q4:Diagnostico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modDiagnostico_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modDiagnostico_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDiagnostico_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pDiagnostico" nillable="true" type="q5:Diagnostico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDiagnostico_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delDiagnostico_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>